html {
    background: #f0808050;
    background-image: url(images/fondo.png);
    font-family: 'Indie Flower', cursive;
}

.title {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f08080;
    animation: latidos .9s infinite;
}

/** The CSS for the heart. */
.container-animacion {
    width: 90%;
    margin: 0 auto;
    /* background-color: #fff; */
}

.img-encabezado {
    border-radius: 24px;
    filter: brightness(0.7);
}

.corazon {
    width: 30%;
    color: red;
    animation: latidos 5s infinite;
}

/**animacion de latidos*/
@keyframes latidos {
    from {
        transform: none;
    }

    50% {
        transform: scale(1.4);
    }

    to {
        transform: none;
    }
}

/**--------------------------------*/

/**--------------------------------*/

/** The CSS for the paragraph. */
.container-parrafos {
    display: flex;
}

.parrafo {
    border: 2px dashed black;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}

/**--------------------------------*/

.container-poema {
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/bg-sectionPoema.jpg);
    border-radius: 24px;
}

.poema {
    position: relative;
    left: 60%;
    width: 30%;
    padding: 50px;
    text-align: center;
    color: white;
    /* background: pink; */

}